* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --iranYekan: "IranYekan";
  --Bnazanin: "Bnazanin";
  --main-blue:#1abfd3;
  --main-red:#ef3a4e;
  --main-gray: rgb(99, 98, 98);
}
@font-face {
  font-family: IranYekan;
  src: url("../../fonts/IRANYekanWeb.woff");
  src: url("../../fonts/IRANYekanWeb.woff2");
  src: url("../../fonts/IRANYekanWeb.ttf");
}
@font-face {
    font-family: Bnazanin;
    src: url(../../fonts/B-NAZANIN.TTF);
}
body{
  font-family: IranYekan
}
.wrapper {
  width: 100%;
}
.swiper-rtl .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 60%;
}
.swiper-rtl .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 60%;

}
.swiper-rtl .swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  font-weight: 800;
  font-size: 0.8rem;
  color: rgb(107, 107, 107);
}
.activeNavigation {
  opacity: 1 !important ;
}
/* todo */
.swiper-pagination
  .swiper-pagination-clickable
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  background-color: rgb(1, 7, 7) !important;
}
/* title + svg  */
.title_header{
  display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 1rem;
   padding: 1rem 0;
 
   h3{
     font-size: 1.3rem;
     font-weight: 300;
   }
 
   .high_chosen_content__title_images {
     position: relative;
     top: 18%;
   }
 }